.content {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  flex-wrap: wrap;
  margin-top: 2em;
  background-color: #9e9e9e;
  border: 2px solid rgb(60, 60, 60);
  border-radius: 2em;
}

.contextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
}
